<p>title:<%= @blog.title %></p>
<p>content:<%= @blog.content %></p>
<p>作成者:<%= @user.name %></p>

<%= link_to '削除',  blog_path(@blog.id), method: :delete, data:{confirm: "本当に削除していいですか?"} %>
<%= link_to '編集', edit_blog_path %>
